
<script src="/javascripts/app.js" type="text/javascript"></script>
<div id="about">
  <div class="snapshot-container">
    <img class="snapshot-icon" src="/images/about.png" alt="marvel-icon" />
    <p class="snapshot-about">
      Hello, world. My name is Kevin! I loves me the JavaScript. I like coding in full-stack with MongoDB, Express, React, and Node. I use JS libraries as needed.
      I have a fine art background and emphasize strong design and color in my font-end.
      When I'm not clacking away on the computer, I love to paint and go mountain biking. I enjoy the outdoors and walks with my pal, Dusty the dog.
			<br />
      <span class="back">
        <a href="/portfolio">Back</a>
      </span>
    </p>
  </div>
</div>

<div id="connect-links">
  <p id="contact-me"><a href="/contact">contact</a></p>
</div>
