
<script src="/javascripts/app.js" type="text/javascript"></script>
<div id="latest">
  <h1>Latest Work</h1>
  <div class="snapshot-container">
    <a href="/marvel"><img class="snapshot-icon" src="/images/marvelClash_4.png" alt="marvel-icon" /></a>
    <p class="snapshot-about">
      Marvel Clash is a browser based RPG style multiplayer game. <br />
      <span class="read-more"><a href="/marvel">Click here to read more.</a></span>
    </p>
  </div>
</div>

<div id="more-link">
  <a href="portfolio">Click for more projects</a>
</div>
<div id="connect-links">
  <p id="about-me"><a href="about">about</a></p>
  <p id="contact-me"><a href="contact">contact</a></p>
</div>
