
<script src="/javascripts/app.js" type="text/javascript"></script>
<div id="latest">
  <h1>Latest Work</h1>
  <div class="snapshot-container">
    <a href="/clipboard"><img class="snapshot-icon" src="/images/clipboard_cover.png" alt="clipboard-icon" /></a>
    <p class="snapshot-about">
      Clipboard is an Android/iOS assistant coach app for amateur soccer leagues. <br />
      <span class="read-more"><a href="/clipboard">read more.</a></span>
    </p>
  </div>
</div>

<div id="more-link">
  <a href="portfolio">All Projects</a>
</div>
<div id="connect-links">
  <p id="about-me"><a href="about">about</a></p>
  <p id="contact-me"><a href="contact">contact</a></p>
</div>
