<script src="/javascripts/app.js" type="text/javascript"></script>
<div id="portfolio">
  <h1>A few things I've worked on...<a class="back"href="/">Back</a></h1>


  <div class="portfolio-container">
    <a href="/marvel"><img class="portfolio-icon" src="/images/marvelClash_4.png" alt="marvel-icon" /></a>
    <p class="portfolio-about">
      Marvel Clash is an AWESOME browser based RPG style multiplayer game. <br />
      <span class="read-more"><a href="/marvel">read more.</a></span>
    </p>
  </div>
  <div class="portfolio-container">
    <a href="/burger"><img class="portfolio-icon" src="/images/burger_1.png" alt="marvel-icon" /></a>
    <p class="portfolio-about">
      Eat-a-Burger! Is a fun, simple app that takes in user input and stores the data
      in a database until it is removed by the user.<br />
      <span class="read-more"><a href="/burger">read more.</a></span>
    </p>
  </div>
  <div class="portfolio-container">
    <a href="/scraper"><img class="portfolio-icon" src="/images/scraper_3.png" alt="marvel-icon" /></a>
    <p class="portfolio-about">
      Scraper app scrapes articles off the internet and stores them in a database. It then makes
      them available to read as well as create, save, and update notes attached to each article.<br />
      <span class="read-more"><a href="/scraper">read more.</a></span>
    </p>
  </div>
  <div class="portfolio-container">
    <a href="https://github.com/kknoerz"><img class="portfolio-icon" src="/images/github-universe.png" alt="marvel-icon" /></a>
    <p class="portfolio-about">
      For a comeplete list of the many things I've built, including back-end development projects, head over to my <a href="https://github.com/kknoerz">Github</a> account.<br />
    </p>
  </div>
</div>
<div id="connect-links">
  <p id="about-me"><a href="about">about</a></p>
  <p id="contact-me"><a href="contact">contact</a></p>
</div>
